.app-container {
  width: 400px;
  max-height: 600px,
}

.tabs-wrapper {
  overflow-y: auto;
  padding: 12px;
  flex: 1 1 auto;
}

.tabs-item {
  display: flex;
  height: 40px;
  cursor: pointer;
  -webkit-box-align: center;
  align-items: center;
  user-select: none;
  padding: 0px 6px;
  border-radius: 3px;
}

.tabs-item:hover {
  background-color: #4ada99;
}

.favIcon-wrapper {
  box-sizing: content-box;
  width: 16px;
  height: 16px;
  background-color: rgb(255, 255, 255);
  padding: 3px;
  margin: 3px;
  border-radius: 3px;
  flex: 0 0 auto;
}

.tab-title {
  font-size: 14px;
  line-height: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0px 6px;
  overflow: hidden;
  flex: 1 1 auto;
}

input {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px;
  z-index: 0;
  padding: 16px 24px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  outline: 0px;
  flex: 0 0 auto;
}

svg {
  display: none;
  box-sizing: content-box;
  width: 16px;
  height: 16px;
  stroke: currentcolor;
  stroke-width: 1.5;
  stroke-linecap: round;
  margin: 3px;
  padding: 3px;
  border-radius: 3px;
  flex: 0 0 auto;
}

.tabs-item:hover svg {
  display: block;
}